<section id="privacy" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Privacy Statement</h2>
                <h3 class="section-subheading text-muted">{{ site.privacy.header}}</h3>
                
                <p>
                    {{site.privacy.text}}
                </p>
            </div>


            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Terms of use</h2>
                <h3 class="section-subheading text-muted">{{ site.terms.header}}</h3>
                
                <p>
                    {{site.terms.text}}
                </p>
            </div>
        </div>
    </div>
</section>